<div>
  <div class="form-group">
    <label>Klassenname</label>
    <input type="text" #klassenName class="form-control">
  </div>
  <div class="form-group">
    <label for="tagesgebuehr">Tagesgebühr</label>
    <input type="number" #tagesgebuehr class="form-control">
  </div>
  <button class="btn btn-success" (click)="add(klassenName.value, tagesgebuehr.value);">
    Add
  </button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Klasse</th>
      <th>Tagesgebühr</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let klasse of klassen">
      <td>{{klasse.id}}</td>
      <td>{{klasse.klassenName}}</td>
      <td>{{klasse.tagesgebuehr}}</td>
      <td><a [routerLink]="['/klasse', klasse.id]">Detail</a></td>
      <td>  <button class="delete"
          (click)="delete(klasse); $event.stopPropagation()">x</button></td>
    </tr>
  </tbody>
</table>
